.single_comics {
    .jumbo {
        img {
            width: 100vw;
            height: 100vh;
        }
    }
    .bg_blue {
        background-color: $blue-comic;
        height: 100px;
    }

    .container {
        .img_cover {
            position: absolute;
            bottom: -300px;
            
            img {
                height: 400px;
                border: 2px solid white;
            }
        }

        h2 {
          font-size: 35px;
          font-weight: 700;
          color: $grey-comic;  
        }

        .info_comics {
            .price_available {
                color: white;
                font-size: 18px;
                font-weight: 600;
                border-bottom: 0.5px solid black;
                height: 60px;
                background-color:$green-comic;
                
                .price_available_cont {
                    width: 80%;
                    height: 60px;
                    padding-right: 20px;
                    border-right: 0.5px solid black;
                }

                .buy_now {
                    width: 20%;
                    height: 60px;
                }
            }

            .comics_description {
                font-size: 18px;
            }
        }

        .community {
            .community_title {
                color: $blue-comic;
                
                h3 {
                    font-size: 30px;
                    font-weight: 700;
                }

                span {
                    font-size: 20px;
                    font-weight: 600;
                }
            }

            .event {
                margin-bottom: 35px;

                h4 {
                    color: #1c1c1d;
                    font-weight: 700;
                }

                span {
                    color: gray;   
                    font-weight: 600;
                }

                p {
                    color: #1c1c1d;
                    font-size: 17px;
                    font-weight: 500;

                }
            }
        }

        .talent_specs_bg {
            height: 500px;
            background-color: #f6f6f6;
            border-top: 1px solid lightgray;

            .talent_specs {
                h4 {
                    font-size: 30px;
                    font-weight: 700;
                    color: $grey-comic;
                    margin: 3rem 0;
                }

                ul {
                    li {
                        display: flex;
                        justify-content: space-between;
                        list-style-type: none;
                        color: #00acdb;
                        font-size: 15px;
                        font-weight: 600;
                        border-top: 1px solid lightgray;    
                        padding: 10px 0;

                        span:first-child {
                            font-size: 18px;
                            font-weight: 600;
                            color: $grey-comic;
                        }
                    }
                }
            }

        }
    }
}